{% extends "core/base.html" %} 

{% load paciente_extras %} 

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% url 'management' %}">Admin Lexci</a></li>
    <li><a href="{% url 'paciente:paciente_list' %}">Pacientes</a></li>
    <li class="active">{{ form_paciente.nome }}</li>
</ol>
<div class="page-header">
    <h1> <i class="fa fa-address-card-o" aria-hidden="true"></i> {{ form_paciente.nome }} <small> ({% get_idade_paciente form_paciente.data_nascimento %} anos) </small></h1>
</div>

<div class="row">
    <div class="col-md-9 col-md-offset-3" style="padding-bottom: 40px;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"><a href="#pacienteDetail" aria-controls="pacienteDetail" role="tab" data-toggle="tab"><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados do paciente</a></li>
            <li role="presentation"><a href="#pacienteExamesRealizados" aria-controls="pacienteExamesRealizados" role="tab" data-toggle="tab"><i class="fa fa-history" aria-hidden="true"></i> Exames realizados</a></li>
            <li role="presentation"><a href="#pacientePendencias" aria-controls="pacientePendencias" role="tab" data-toggle="tab"><i class="fa fa-folder-open" aria-hidden="true"></i> Pendências</a></li>
        </ul>
    </div>
</div>

<div class="row">
        
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pacienteDetail">
            {% include "paciente/includes/tab_paciente_detail.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="pacienteExamesRealizados">
            {% include "paciente/includes/tab_paciente_exames_realizados.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="pacientePendencias">
            {% include "paciente/includes/tab_paciente_pendencias.html" %}
        </div>
    </div>
</div>

{% endblock content %}