{% extends "core/base.html" %} {% load paciente_extras %} {% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'paciente:paciente_list' %}">Pacientes</a></li>
    <li class="active">{{ form_paciente.nome }}</li>
</ol>
<div class="page-header">
    <h1>{{ form_paciente.nome }} <small> ({% get_idade_paciente form_paciente.data_nascimento %} anos) </small></h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &ensp; Dados do paciente
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Nome:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.nome }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Apelido:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.apelido }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">CPF:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.cpf }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Mãe:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.nome_mae }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Cartão SUS:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.cartao_sus }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Nascimento:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                {{ form_paciente.data_nascimento|date:"d/m/Y" }} ({% get_idade_paciente form_paciente.data_nascimento %} anos)
                            </p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Nacionalidade:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.nacionalidade }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Raça:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.get_raca_display }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Profissão:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_paciente.profissao}}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Ativo:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                {% if form_paciente.ativo %} <span class="label label-success">SIM</span> {% else %}
                                <span class="label label-danger">NÃO</span> {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="{% url 'paciente:paciente_update' form_paciente.pk %}" class="btn btn-info right">
                        Editar informações &ensp;
                        <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> &ensp; Contato
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">DDD / Telefone:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_endereco.fone_ddd }} {{ form_endereco.fone_numero }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span> &ensp; Endereço
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Cidade:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                {{ form_endereco.municipio }} - {{ form_endereco.uf }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">CEP:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_endereco.cep }}</p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Endereco:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                {{ form_endereco.logradouro }}, Nº {{ form_endereco.numero_casa }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group form-group">
                        <label class="col-sm-3 control-label">Bairro:</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ form_endereco.bairro }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="{% url 'paciente:endereco_update' form_endereco.pk %}" class="btn btn-info right">
                    Editar informações &ensp; <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}