{% extends "core/base.html" %}

{% load widget_tweaks %}


{% block script_header %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){

            $("#btnBuscaCep").click(function(){
                var cep = $('#id_pacienteendereco_set-0-cep').val().replace("-", "");
                var urlCep = 'https://viacep.com.br/ws/' + cep + '/json/';

                $.ajax({
                    url: urlCep,
                    success: function(result){
                        $('#id_pacienteendereco_set-0-cep').val(cep);
                        $('#id_pacienteendereco_set-0-logradouro').val(result.logradouro);
                        $('#id_pacienteendereco_set-0-bairro').val(result.bairro);
                        $('#id_pacienteendereco_set-0-uf').val(result.uf);
                        $('#id_pacienteendereco_set-0-codigo_municipio').val(result.ibge);
                        $('#id_pacienteendereco_set-0-municipio').val(result.localidade);
                    }
                });
            });
            
        });
    </script>
{% endblock script_header %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'paciente:paciente_list' %}">Pacientes</a></li>
        {% if nome %}
            <li><a href="#">{{ nome }}</a></li>
            <li class="active">Editar informações</li>
        {% else %}
            <li class="active">Novo paciente</li>
        {% endif %}
    </ol>

    <div class="row">   
        <div class="page-header">
            {% if nome %}
                <h1><small> paciente </small> {{ nome }} </h1>
            {% else %}
                <h1>Novo paciente</h1>
            {% endif %}
        </div>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Dados do paciente</div>
                    <div class="panel-body">
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div>
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Contato do paciente</div>
                    <div class="panel-body">
                        
                        {{ endereco_form.management_form }}

                        {% for field in endereco_form %}
                            <div class="form-group">
                                <label>{{ field.cep.label }}</label>
                                <div class="input-group col-md-5">
                                    {% render_field field.cep class="form-control" placeholder="informe CEP" %}
                                    <span class="input-group-btn">
                                        <button id="btnBuscaCep" name="btnBuscaCep" class="btn btn-primary" type="button">Buscar CEP</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ field.logradouro.label }}</label>
                                {% render_field field.logradouro class="form-control" placeholder="Nome da rua" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.numero_casa.label }}</label>
                                {% render_field field.numero_casa class="form-control" placeholder="Casa nº" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.complemento.label }}</label>
                                {% render_field field.complemento class="form-control" placeholder="Complemento" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.bairro.label }}</label>
                                {% render_field field.bairro class="form-control" placeholder="nome do bairro" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.uf.label }}</label>
                                {% render_field field.uf class="form-control" placeholder="unidade federativa" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.municipio.label }}</label>
                                {% render_field field.municipio class="form-control" placeholder="nome da cidade" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.codigo_municipio.label }}</label>
                                {% render_field field.codigo_municipio class="form-control" placeholder="codigo municipio" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.fone_ddd.label }}</label>
                                {% render_field field.fone_ddd class="form-control" placeholder="DDD" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.fone_numero.label }}</label>
                                {% render_field field.fone_numero class="form-control" placeholder="Telefone (sem o ddd)" %}
                            </div>
                            <div class="form-group">
                                <label>{{ field.ponto_de_referencia.label }}</label>
                                {% render_field field.ponto_de_referencia class="form-control" placeholder="ponto de referencia, dica, etc" %}
                            </div>

                            {% if field.errors %}
                                <strong style="color: red;" >{{ field.errors.as_text }}</strong>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}