{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block script_header %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btnBuscaCep").click(function(){
                var cep = $('#id_pacienteendereco_set-0-cep').val();

                $.ajax({
                    url: 'https://viacep.com.br/ws/' + cep + '/json/',
                    success: function(result){
                        $('#id_pacienteendereco_set-0-cep').val(result.cep);
                        $('#id_pacienteendereco_set-0-logradouro').val(result.localidade);
                    }
                })
                
            });
        });
    </script>
{% endblock script_header %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'paciente:paciente_list' %}">Pacientes</a></li>
        {% if nome %}
            <li><a href="#">{{ nome }}</a></li>
            <li class="active">Editar informações</li>
        {% else %}
            <li class="active">Novo paciente</li>
        {% endif %}
    </ol>

    <div class="row">   
        <div class="page-header">
            {% if nome %}
                <h1><small> paciente </small> {{ nome }} </h1>
            {% else %}
                <h1>Novo paciente</h1>
            {% endif %}
        </div>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Dados do paciente</div>
                    <div class="panel-body">
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div>
                                    {% render_field field class="form-control input-sm" %}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Dados do paciente</div>
                    <div class="panel-body">
                        
                        {{ endereco_form.management_form }}

                        {% for field in endereco_form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.cep.label }}</label>
                                <div class="input-group">
                                    <input id="{{ field.cep.auto_id }}" type="text" class="form-control" placeholder="digite o cep">
                                    <span class="input-group-btn">
                                        <button id="btnBuscaCep" name="btnBuscaCep" class="btn btn-default" type="button">Buscar CEP</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.logradouro.label }}</label>
                                {% render_field field.logradouro class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.numero_casa.label }}</label>
                                {% render_field field.numero_casa class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.complemento.label }}</label>
                                {% render_field field.complemento class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.bairro.label }}</label>
                                {% render_field field.bairro class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.uf.label }}</label>
                                {% render_field field.uf class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.codigo_municipio.label }}</label>
                                {% render_field field.codigo_municipio class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.fone_ddd.label }}</label>
                                {% render_field field.fone_ddd class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.fone_numero.label }}</label>
                                {% render_field field.fone_numero class="form-control input-sm" %}
                            </div>
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.ponto_de_referencia.label }}</label>
                                {% render_field field.ponto_de_referencia class="form-control input-sm" %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}