{% load paciente_extras %}

<div class="panel panel-primary">
    <div class="panel-heading">
         <span class="glyphicon glyphicon-check" aria-hidden="true"></span> &ensp; Exames da paciente {{ laudo.paciente.nome }}
         Exames realizados
    </div>
    <div class="panel-body">
        <div>
            {# o form_paciente.id esta no paciente_detail.html. Essa pagina é um include #}
            <a href="{% url 'laudo:create_laudo' pk_exame=1 pk=form_paciente.id  %}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Citopatoligoco Cervical Uterino</a>
        </div>
        <br >
        <div>
            {% if laudos %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Medico</th>
                            <th>Tipo Exame</th>
                            <th>Data</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for laudo in laudos %}
                            {% if laudo.assinado %}
                                <tr class="success">
                            {% else %}
                                <tr class="warning">
                            {% endif %}
                                <th scope="row">{{ laudo.id }}</th>
                                <td>{{ laudo.medico.nome }}</td>
                                <td>{% get_tipo_exame laudo.id %}</td>
                                <td>{{ laudo.data_cadastro }}</td>
                                <td><a href="{% url 'laudo:laudo_detalhe' laudo.id %}">Detalhes</a> </td>
                                <td><a href="{% url 'laudo:gerar_laudo' laudo.id %}"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>Nenhum laudo foi gerado para esse paciente.</h3>
            {% endif %}
        </div>
    </div>
</div>
