<div class="panel panel-primary">
    <div class="panel-heading">
         <span class="glyphicon glyphicon-check" aria-hidden="true"></span> &ensp; Exames da paciente {{ laudo.paciente.nome }}
         Exames realizados
    </div>
    <div class="panel-body">
        <div>
            {# o form_paciente.id esta no paciente_detail.html. Essa pagina é um include #}
            <a href="{% url 'laudo:create_laudo' pk=form_paciente.id  %}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Cadastrar Laudo</a>
        </div>
        <br >
        <div>
            {% if laudos %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Medico</th>
                            <th>Data</th>
                            <th class="text-center">Paciente vê ?</th>
                            <th class="text-center">Assinado ?</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for laudo in laudos %}
                            <tr>
                                <th scope="row">{{ laudo.id }}</th>
                                <td>{{ laudo.medico.nome }}</td>
                                <td>{{ laudo.data_cadastro }}</td>
                                <td class="text-center">
                                    {% if laudo.paciente_pode_ver %}
                                        <strong class="text-success"> {{ laudo.paciente_pode_ver|yesno|upper }} </strong>
                                    {% else %}
                                        <strong class="text-danger"> {{ laudo.paciente_pode_ver|yesno|upper }} </strong>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if laudo.assinado %}
                                        <strong class="text-success"> {{ laudo.assinado|yesno|upper }} </strong>
                                    {% else %}
                                        <strong class="text-danger"> {{ laudo.assinado|yesno|upper }} </strong>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'laudo:laudo_detalhe' laudo.id %}">Detalhes</a> </td>
                                <td><a href="{% url 'laudo:gerar_laudo' laudo.id %}">Imprimir</a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>Nenhum laudo foi gerado para esse paciente.</h3>
            {% endif %}
        </div>
    </div>
</div>
