{% extends "core/base.html" %}

{% load exame_extras %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'paciente:paciente_list' %}">Pacientes</a></li>
        <li><a href="{% url 'paciente:paciente_detail' laudo.paciente.id %}">{{ laudo.paciente.nome }}</a></li>
        <li><a href="#">Laudo #{{ laudo.id }}</a></li>
        <li class="active">Detalhes do Laudo #{{ laudo.id }} </li>
    </ol>
    <div class="page-header">
        <h3>Corrigir exame de {{ laudo.paciente.nome }} <small>Laudo #{{ laudo.id }}</small> </h3>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        {# Exibe as informações do Paciente#}
        {% include "laudo/includes/paciente_include.html" %}

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        Características Físicas
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">

                        {% for exame in exames_caracteristicas_fisicas %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ exame }}</label>
                                {% for item in item_exame_caracteristicas_fisicas %}
                                    {% if item.exame_id == exame.id %}
                                        <div class="radio-inline">
                                            <label>
                                                <input 
                                                    type="radio" 
                                                    name="item_{{ exame.descricao|replace_nome_exame }}" 
                                                    value="{{ item.id }}"
                                                    {% for item_marcado in exames_marcados %}
                                                        {% if item.id == item_marcado.item_exame.id %}
                                                            checked="checked"
                                                        {% endif %}
                                                    {% endfor %}
                                                > {{ item }}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        Características Químicas
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        {% for exame in exames_caracteristicas_quimicas %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ exame }}</label>
                                {% for item in item_exame_caracteristicas_quimicas %}
                                    {% if item.exame_id == exame.id %}
                                        <div class="radio-inline">
                                            <label>
                                                <input 
                                                    type="radio" 
                                                    name="item_{{ exame.descricao|replace_nome_exame }}" 
                                                    value="{{ item.id }}"
                                                    {% for item_marcado in exames_marcados %}
                                                        {% if item.id == item_marcado.item_exame.id %}
                                                            checked="checked"
                                                        {% endif %}
                                                    {% endfor %}
                                                > {{ item }}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        Análise microscópica do sedimento
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">

                        {% for exame in exames_analises_microscopica_do_sedimento %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ exame }}</label>
                                {% for item in item_exame_analises_microscopica_do_sedimento %}
                                    {% if item.exame_id == exame.id %}
                                        <div class="radio-inline">
                                            <label>
                                                <input 
                                                    type="radio" 
                                                    name="item_{{ exame.descricao|replace_nome_exame }}" 
                                                    value="{{ item.id }}"
                                                    {% for item_marcado in exames_marcados %}
                                                        {% if item.id == item_marcado.item_exame.id %}
                                                            checked="checked"
                                                        {% endif %}
                                                    {% endfor %}
                                                > {{ item }}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}