{% extends "core/base.html" %}

{% load exame_extras %}

{% block script_header %}
    <script type="text/javascript">
        $(function() {
            $.fm({debug: true});
        });
    </script>
{% endblock script_header %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'paciente:paciente_detail' paciente.id %}">{{ paciente.nome }}</a></li>
        <li class="active">Exame Urina Rotina</li>
    </ol>

    <form method="POST">
        {% csrf_token %}

        {{ form.paciente.as_hidden }}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.errors %}
            <strong style="color: red;">{{ form.errors.as_text }}</strong>
        {% endif %}

        {# Exibe as informações do Paciente #}
        {% include "laudo/includes/paciente_include.html" %}

        {# Inclui os exames que devem ser feito #}
        <div class="row">
            <h3>
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                Marque os exames realizados
            </h3>

            {{ exames_urina_rotina.management_form }}
            

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            Características Físicas
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            {% for exame in exames_caracteristicas_fisicas %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ exame }}</label>
                                    {% for item in item_exame_caracteristicas_fisicas %}
                                        {% if item.exame_id == exame.id %}
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" name="item_{{ exame.descricao|replace_nome_exame }}" value="{{ item.id }}"> {{ item }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            Características Químicas
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            {% for exame in exames_caracteristicas_quimicas %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ exame }}</label>
                                    {% for item in item_exame_caracteristicas_quimicas %}
                                        {% if item.exame_id == exame.id %}
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" name="item_{{ exame.descricao|replace_nome_exame }}" value="{{ item.id }}"> {{ item }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            Análise microscópica do sedimento
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            {% for exame in exames_analises_microscopica_do_sedimento %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ exame }}</label>
                                    {% for item in item_exame_analises_microscopica_do_sedimento %}
                                        {% if item.exame_id == exame.id %}
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" name="item_{{ exame.descricao|replace_nome_exame }}" value="{{ item.id }}"> {{ item }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            Para preenchimento manual
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            {% for form in exames_urina_rotina.forms %}
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label|capfirst }}</label>
                                        <div class="col-sm-4">
                                            {{ field }}
                                        </div>
                                    </div>
                                    {{ field.errors.as_ul }}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Botão Salvar #}
            <div class="text-right">
                <button type="submit" class="btn btn-success btn-lg" disabled>
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    Salvar Laudo
                </button>
            </div>

        </div>
    </form>


{% endblock content %}

{% block script_footer %} 
    {% include "fm/modal.html" %}
{% endblock script_footer %}