{% extends "core/base.html" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'laudo:laudo_index' %}">Gerenciamento Exame</a></li>
        <li class="active">Exame</li>
    </ol>
    <div class="">
    </div>

    {% include "core/includes/mensagens.html" %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for exame in exame_list %}
                <tr>
                    <th scope="row">{{ exame.id }}</th>
                    <td>{{ exame.descricao }}</td>
                    <td><a href="{% url 'laudo:exame_update' pk=exame.id %}">Editar</a> </td>
                    <td><a href="{% url 'laudo:exame_delete' pk=exame.id %}">Excluir</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
