{% extends "core/base.html" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'laudo:laudo_index' %}">Gerenciamento Exame</a></li>
        <li class="active">Item Exame</li>
    </ol>

    {% include "core/includes/mensagens.html" %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Exame</th>
                <th>Descrição item</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for exame in exames %}
                {% for item in item_exame_list %}
                    {% if item.exame.id == exame.id %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ exame.descricao }}</td>
                        <td>{{ item.descricao_item }}</td>
                        <td><a href="{% url 'laudo:item_exame_update' item.id %}">Editar</a> </td>
                        <td><a href="{% url 'laudo:item_exame_delete' item.id %}">Excluir</a> </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
