{% extends "core/base.html" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'laudo:laudo_index' %}">Gerenciamento Exame</a></li>
        <li><a href="{% url 'laudo:exame_list' %}">Exames</a></li>
        <li class="active">Novo item exame</li>
    </ol>

    <div class="row">
        <h2>Cadastrar novo item <small>coloque a descrição abaixo</small> </h2>
        <!--
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Salvar" class="btn btn-success" />
        </form>
        -->
    </div>


{% endblock content %}