{% extends "core/base.html" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'exame:index' %}">Gerenciamento Exame</a></li>
        <li class="active">Exames</li>
    </ol>

    {% include "core/includes/mensagens.html" %}

    <a href="{% url 'exame:exame_create' %}" class="btn btn-success">Novo exame</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Ordem</th>
                <th>Tipo Exame</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for exame in exame_list %}
                <tr>
                    <th scope="row">{{ exame.id }}</th>
                    <td>{{ exame.ordem_exibicao }}</td>
                    <td>{{ exame.get_nome_display }}</td>
                    <td>{{ exame.descricao }}</td>
                    <td><a href="{% url 'exame:exame_update' pk=exame.id %}">Editar</a> </td>
                    <td><a href="{% url 'exame:exame_delete' pk=exame.id %}">Excluir</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
