{% extends "core/base.html" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="#">Nome do paciente</a></li>
        <li class="active">Novo laudo</li>
    </ol>

    <div class="row">
        <h3>Laudo de <span class="label label-default">Leonardo Nascimento Cintra</span></h3>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1">Paciente:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Medico:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Convenio:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>                                
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1">Idade:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Idade">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sexo:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Código:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>                                
            </div>
        </div>
    </div>

{% endblock content %}
