{% extends "core/base.html" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'paciente:paciente_list' %}">Pacientes</a></li>
        <li><a href="{% url 'paciente:paciente_detail' paciente.id %}">{{ paciente.nome }}</a></li>
        <li class="active">Detalhes do Laudo #{{ laudo.id }} </li>
    </ol>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Detalhes do Laudo da paciente {{ paciente.nome }}</div>
            <div class="panel-body">
                <h4><small>nome:</small> {{ paciente.nome }}</h4>
                <h4><small>data laudo:</small>  {{ laudo.data_cadastro }}</h4>
                <h4><small>médico:</small> {{ laudo.medico.nome }}</h4>
                <h4>
                    <small>paciente pode ver?</small> {{ laudo.paciente_pode_ver|yesno|upper }} 
                    <a href="{% url 'laudo:laudo_update' laudo.id laudo.paciente.id %}">alterar</a>  
                </h4>
                <h4><small>exames realizados:</small></h4>

                {% for exame in exames %}
                    {% for item in exame_laudos %}
                        {% if item.item_exame.exame.id == exame.id %}

                            <strong> {{ exame }} </strong> <br />
                            {{ item }} <br />
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                
            </div>
            <div class="panel-footer">
                <a href="{% url 'laudo:gerar_laudo' laudo_id=laudo.id paciente_id=paciente.id %}" class="btn btn-info">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir</a>
            </div>
        </div>
        
    </div>

{% endblock content %}