{% extends "core/base.html" %}

{% block script_header %}
    <script type="text/javascript">
        $(function() {
            $.fm({debug: true});
        });
    </script>
{% endblock script_header %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li><a href="{% url 'laudo:laudo_index' %}">Laudos</a></li>
        <li><a href="{% url 'paciente:paciente_detail' paciente.id %}">{{ paciente.nome }}</a></li>
        <li class="active">Novo laudo</li>
    </ol>

    <form method="POST">
        {% csrf_token %}

        {{ form.paciente.as_hidden }}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.errors %}
            <strong style="color: red;" >{{ form.errors.as_text }}</strong>
        {% endif %}

        {# Exibe as informações do Paciente#}
        {% include "laudo/includes/paciente_include.html" %}

        {# Inclui os exames que devem ser feito #}
        <div class="row">
            <h3>Marque os exames realizados</h3>

            {% for exame in exames  %}
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><EX></EX>{{ exame }}</h3>    
                        </div>
                        <div class="panel-body">
                            {% for item in item_exame %}
                                {% if item.exame_id == exame.id %}
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" name="item_exames" value="{{ item.id }}"> {{ item }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Novo...">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button">Salvar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {# Botão Salvar #}
            <div class="text-right">
                <input type="submit" value="Salvar e Gerar laudo" class="btn btn-success btn-lg">
            </div>

        </div>
    </form>


{% endblock content %}

{% block script_footer %} 
    {% include "fm/modal.html" %}
{% endblock script_footer %}