{% extends "core/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Área administrativa</h1>
        <p>Navegue nas opções disponíveis abaixo</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{% url 'paciente:paciente_list' %}">
                    <img src="http://res.cloudinary.com/lexci/image/upload/c_scale,h_200,w_242/v1479774967/paciente-icon.png" alt="paciente">
                    <div class="caption text-center">
                        <h3>Pacientes</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{% url 'laudo:laudo_index' %}">
                    <img src="http://res.cloudinary.com/lexci/image/upload/c_scale,h_200,w_242/v1479775400/receita-icon.png" alt="Exames">
                    <div class="caption text-center">
                            <h3>Exames (Laudo)</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{% url 'medico:medico_list' %}">
                    <img src="http://res.cloudinary.com/lexci/image/upload/c_scale,h_200,w_242/v1479775720/doctor-icon.ico" alt="Relatorio">
                    <div class="caption text-center">
                        <h3>Médicos</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}