{% extends "core/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Area administrativa</h1>
        <p>Navegue nas opçoes disponiveis abaixo</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://res.cloudinary.com/lexci/image/upload/v1479774967/paciente-icon.png" alt="paciente">
                    <div class="caption text-center">
                        <h3>Pacientes</h3>
                    </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://res.cloudinary.com/lexci/image/upload/v1479774967/paciente-icon.png" alt="paciente">
                    <div class="caption text-center">
                        <h3>Pacientes</h3>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}