{% extends "core/base.html" %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url 'management' %}">Admin Lexci</a></li>
        <li class="active">Convenios</li>
    </ol>
    <div class="page-header">
        <h2>Convenios</h2>
    </div>

    <div>
        <ul>
        {% for convenio in object_list %}
            <li>{{ convenio.descricao }}</li>
        {% empty %}
            <li>No convenios yet.</li>
        {% endfor %}
        </ul>
    </div>

{% endblock content %}