{% extends "core/base.html" %} 

{% load paciente_extras %} 

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% url 'management' %}">Admin Lexci</a></li>
    <li><a href="{% url 'paciente:paciente_list' %}">Pacientes</a></li>
    <li class="active">{{ form_paciente.nome }}</li>
</ol>
<div class="page-header">
    <h2> <i class="fa fa-address-card-o" aria-hidden="true"></i> {{ form_paciente.nome }} <small> ({% get_idade_paciente form_paciente.data_nascimento %} anos) </small></h2>
</div>


<div class="row">
        
    {% include "paciente/includes/tab_paciente_exames_realizados.html" %}

    {% include "paciente/includes/tab_paciente_detail.html" %}

</div>

{% endblock content %}