<li class="active"><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'about' %}">Quem somos</a></li>
<li><a href="{% url 'contact' %}">Contato</a></li>

{% if user.is_authenticated %}
    <li><a href="{% url 'management' %}">Administrativo</a></li>
    <li>
        <a href="{% url 'accounts:index' %}">
            {% if user.name %}
                {{ user.name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </a>
    </li>
    <li><a href="https://accounts.zoho.com/signin?servicename=VirtualOffice" target="_blank">E-mail</a></li>
    <li><a href="{% url 'logout' %}">Sair</a></li>
{% else %}
    <li><a href="{% url 'login' %}">Entrar</a></li>
{% endif %}