{% load paciente_extras %} 

<div class="row">
    <h3 style="color:darkgray"><span class="label label-default">#{{ paciente.pk }} - {{ paciente.nome }}</span></h3>

    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <div class="form-group">
                <label>Convenio:</label>
                <strong>{{ paciente.convenio }}</strong>
            </div>                                
            <div class="form-group">
                <label>Idade:</label>
                <strong>{% get_idade_paciente paciente.data_nascimento %} anos</strong>
            </div>
            <div class="form-group">
                <label>{{ form.paciente_pode_ver.label }}:</label>
                {{ form.paciente_pode_ver }}
            </div>
            <div class="form-group">
                <label>{{ form.ultima_menstruacao.label }}:</label>
                {{ form.ultima_menstruacao }}
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <div class="form-group">
                <label>Médido que atendeu:</label>
                {{ form.medico }}
                <br />
                <a href="{% url 'medico:medico_create' %}" class="fm-create btn btn-success"                   data-fm-head="Criando Médico" data-fm-callback="reload">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo medico
                </a>
            </div>
        </div>
    </div>
</div>