{% load paciente_extras %} 

<div class="row">
    
    <h3 style="color:darkgray"><span class="label label-default">{{ paciente.nome }}</span></h3>

    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <div class="form-group">
                <label for="exampleInputEmail1">Paciente:</label>
                <strong>{{ paciente.nome }}</strong>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Convenio:</label>
                <strong>{{ paciente.convenio }}</strong>
            </div>                                
            <div class="form-group">
                <label for="exampleInputEmail1">Idade:</label>
                <strong>{% get_idade_paciente paciente.data_nascimento %} anos</strong>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Código:</label>
                <strong>#{{ paciente.pk }}</strong>
            </div>                
        </div>
    </div>
    
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <div class="form-group">
                <label for="exampleInputEmail1">Médido que atendeu:</label>
                <select class="form-control">
                    {% for item in medico  %}
                        <option value="{{ item.id }}">{{ item.nome }}</option>
                    {% endfor %}
                </select>
                <br />
                <a href="{% url 'medico:medico_create' %}" class="fm-create btn btn-success" data-fm-head="Criando Médico" data-fm-callback="reload">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo medico
                </a>
            </div>
        </div>
    </div>
    
</div>